streamlit==1.18.1
numpy==1.24.3
tensorflow==2.13.0
pandas==1.5.3
scikit-learn==1.2.2
matplotlib==3.7.1
seaborn==0.13.2
plotly==5.15.0
joblib==1.2.0
shap==0.41.0
lime==0.2.0.1
pandas-profiling==3.6.6
fastapi==0.95.2
uvicorn==0.22.0
