streamlit==1.28.0
pandas==1.5.3
numpy==1.24.4
scikit-learn==1.2.2
matplotlib==3.7.1
seaborn==0.12.2
plotly==5.14.1
joblib==1.2.0
shap==0.41.0
lime==0.2.0.1
sweetviz==2.1.4
tensorflow==2.11.1
fastapi==0.110.0
uvicorn==0.20.0
